@model ats_maintenance_tracker_group2.Models.Turbine

@{
    ViewBag.Title = "Create Turbine";
}

<div class="text-xxl bold-600 full">
    Create Turbine
</div>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="box full pd-05">
        @Html.EditorFor(model => model.TurbineID, new { htmlAttributes = new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "TurbineID" } })
        @Html.ValidationMessageFor(model => model.TurbineID, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>

    <div class="box full pd-05">
        @Html.EditorFor(model => model.TurbineMake, new { htmlAttributes = new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "TurbineMake" } })
        @Html.ValidationMessageFor(model => model.TurbineMake, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>

    <div class="box full pd-05">
        @Html.EditorFor(model => model.TurbineModel, new { htmlAttributes = new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "TurbineModel" } })
        @Html.ValidationMessageFor(model => model.TurbineModel, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>

    <div class="box full pd-05">
        @Html.EditorFor(model => model.RuntimeHours, new { htmlAttributes = new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "RuntimeHours" } })
        @Html.ValidationMessageFor(model => model.RuntimeHours, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>


    <div class="box full pd-05 mt-s2">
        <div class="form-check d-flex align-items-center">
            @Html.CheckBoxFor(model => model.IsHighWinds, new { @class = "form-check-input me-2" })
            @Html.LabelFor(model => model.IsHighWinds, new { @class = "form-check-label mb-0" })
        </div>
        @Html.ValidationMessageFor(model => model.IsHighWinds, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>


    <div class="box full pd-05">
        @Html.EditorFor(model => model.OperationalStatus, new { htmlAttributes = new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "OperationalStatus" } })
        @Html.ValidationMessageFor(model => model.OperationalStatus, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>

    <div class="box full pd-05">
        @Html.EditorFor(model => model.Coordinates, new { htmlAttributes = new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "Coordinates" } })
        @Html.ValidationMessageFor(model => model.Coordinates, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>

    <div class="box full pd-05">
        @Html.DropDownList("FarmID", null, htmlAttributes: new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "Farm Id" })
        @Html.ValidationMessageFor(model => model.FarmID, "", new { @class = "text-xxs full text-center error-text mb-1" })
    </div>

    <div class="box full dfb align-center gap-10 mt-1">
        <button type="submit" class="xxxs pd-12 pdx-2 fit whitespace-nowrap">Create</button>
        <a href="@Url.Action("Index", "Turbines")">
            <button type="button" class="xxxs pd-12 pdx-2 fit outline-black whitespace-nowrap">
                Back To List
            </button>
        </a>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
