@model ats_maintenance_tracker_group2.Models.Turbine

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Turbine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WindFarm.FarmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WindFarm.FarmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurbineMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurbineMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurbineModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurbineModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuntimeHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuntimeHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHighWinds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHighWinds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinates)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
