@model ats_maintenance_tracker_group2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<br />
<div class="text-xxl bold-600 full">
    Change Your Password
</div>
<br />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" })) {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="box full pd-05">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "Old Password" })
        </div>
        <div class="box full pd-05">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "New Password" })
        </div>
        <div class="box full pd-05">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "Confirm Password" })
        </div>

        <div class="box full pd-05 mt-1">
            <div class="offset-md-2 col-md-10">
                <button type="submit" class="xxs pd-12 pdx-2 fit whitespace-nowrap">
                    Change Password
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}