@model ats_maintenance_tracker_group2.Models.CreateStaffViewModel

@{
    ViewBag.Title = "Create Staff";
}

<br />
<div class="text-xxl bold-600 full">Create Staff</div>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "First Name" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.LastName, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Last Name" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.WorkEmailAddress, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Work Email Address" })
            @Html.ValidationMessageFor(model => model.WorkEmailAddress, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.HomeMobileNumber, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Home Mobile Number" })
            @Html.ValidationMessageFor(model => model.HomeMobileNumber, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.WorkMobileNumber, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Work Mobile Number" })
            @Html.ValidationMessageFor(model => model.WorkMobileNumber, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.Address1, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Address" })
            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.Postcode, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Postcode" })
            @Html.ValidationMessageFor(model => model.Postcode, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.City, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "City" })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.DropDownListFor(m => m.EmploymentRole,
                new List<SelectListItem> {
                    new SelectListItem { Text = "Engineer", Value = "Engineer" },
                    new SelectListItem { Text = "Call Handler", Value = "CallHandler" },
                    new SelectListItem { Text = "Manager", Value = "Manager" },
                },
            "Select Staff Role", htmlAttributes: new { @class = "xxs pd-15 pdx-2 full mw-400", @placeholder = "Staff Role" })
            @Html.ValidationMessageFor(model => model.EmploymentRole, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.TextBoxFor(m => m.Salary, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Salary", @type = "number" })
            @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full pd-05">
            @Html.PasswordFor(m => m.Password, new { @class = "xxs h-30 pd-15 pdx-2 full mw-500 form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-xxs full text-center error-text mb-1" })
        </div>

        <div class="box full dfb align-center gap-10 mt-3">
            <button type="submit" class="xxxs pd-12 pdx-2 fit whitespace-nowrap">
                <i data-lucide="user-round-plus" style="height: 18px;"></i> Create Staff
            </button>
            <a href="@Url.Action("Index", "Staffs")">
                <button type="button" class="xxxs pd-12 pdx-2 fit outline-black whitespace-nowrap">
                    Back To Staffs List
                </button>
            </a>
        </div>

        <br /><br />
    </div>
}
