@model ats_maintenance_tracker_group2.Models.Staff

@{
    ViewBag.Title = "Staff Details";
}

<br />
<div class="text-xxxs grey-5">Staff Details</div>

<div class="box full dfb column">
    <div class="text-xl full bold-600 pd-05">@Model.FirstName @Model.LastName</div>
    <div class="text-xxs full pd-05 grey-4">@Model.EmploymentRole</div>
    <br />

    <div class="text-xxs full bold-600 pd-05 underline"><u>Staff Contact Information</u></div>
    <div class="text-xxs full pd-05">Work Mobile Number - @Model.WorkMobileNumber</div>
    <div class="text-xxs full pd-05">Work Email - @Model.WorkEmailAddress</div>
    <div class="text-xxs full pd-05">Home Mobile Number - @Model.HomeMobileNumber</div>
    <br />

    <div class="text-xxs full bold-600 pd-05 underline"><u>Staff Address Information</u></div>
    <div class="text-xxs full pd-05">@Model.Address1</div>
    <div class="text-xxs full pd-05">@Model.City</div>
    <div class="text-xxs full pd-05">@Model.Postcode</div>
    <br />

    <div class="text-xxs full bold-600 pd-05 underline"><u>Staff Salary</u></div>
    <div class="text-xxs full pd-05">£ @Model.Salary</div>
    <br />
</div>
<div class="box full dfb align-center gap-10 mt-3">
    <a href="@Url.Action("Edit", "Staffs", new { id = Model.StaffID })">
        <button class="xxxs pd-12 pdx-2 fit whitespace-nowrap">
            <i data-lucide="square-pen" style="height: 18px;"></i> Edit
        </button>
    </a>
    <a href="@Url.Action("Index", "Staffs")">
        <button class="xxxs pd-12 pdx-2 fit outline-black whitespace-nowrap">
            Back To List
        </button>
    </a>
</div>
