@model IEnumerable<ats_maintenance_tracker_group2.Models.Staff>

@{
    ViewBag.Title = "Index";
}

<div class="box full dfb align-center pd-1 mb-3">
    <div class="text-xxl bold-600 full">All Staff</div>
    <a href="@Url.Action("Create", "Staffs")">
        <button type="submit" class="xxxs pd-12 pdx-2 fit whitespace-nowrap">
            <i data-lucide="plus" style="height: 18px;"></i> Create New Staff
        </button>
    </a>
</div>

<div class="table-container">
    <table class="custom-table">
        <thead>
            <tr id='head-row'>
                <th>Name</th>
                <th>Employment Role</th>
                <th>City</th>
                <th>Postcode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class='name'>@item.FirstName @item.LastName</td>
                    <td>@item.EmploymentRole</td>
                    <td>@item.City</td>
                    <td>@item.Postcode</td>
                    <td>
                        <div class="box full dfb gap-10">
                            @Html.ActionLink("Edit", "Edit", new { id = item.StaffID }, new { @class = "box fit visible-link accent-color" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.StaffID }, new { @class = "box fit visible-link accent-color" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.StaffID }, new { @class = "box fit visible-link", @style = "color: red;" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>