<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ATS Tracker Application</title>

    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/app.css">

    <script src="~/Scripts/icons.js" defer></script>
    <script src="~/Scripts/modal.js" defer></script>

    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <!-- Production version -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <div class="modal" id="modal">
        <div class="modal-box" id="modal-box">
            <div class="modal-close" onclick="closeModal()"><i data-lucide="x"></i></div>
            <div class="box full" id="modal-box-contents"></div>
        </div>
    </div>
    <div class="app">
        <div class="account-bar-wrapper" style="background: #F6FFF0;">
            <div class="account-bar">
                <div class="app-icon">
                    <div class="app-icon-clickable">
                        <a href="@Url.Action("Index", "Home")">
                            <div class='icon' style="width: 40px; height: 40px">
                                <img src="~/Images/logo.png" alt="logo" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="account-image">
                    <a href="@Url.Action("Index", "Manage")">
                        <div class='icon round' style="width: 40px; height: 40px">
                            <img src="~/Images/user-picture.png" alt="logo" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-wrapper">
                <div class="box mb-05">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>