@model ats_maintenance_tracker_group2.Models.Staff
@{
    ViewBag.Title = "Home Page";
}


<div class="text-l full pd-05 bold-600">Hello @Model.FirstName @Model.LastName</div>
<div class="text-s grey-5 full">@Model.EmploymentRole</div>
<br>

<div class="box full dfb gap-10 wrap no-select">
    @if (Model.EmploymentRole == "CallHandler" || Model.EmploymentRole == "Manager") {
        <a href="@Url.Action("Index", "WindFarms")" class="box fit" style="min-width: 400px;">
            <div class="navigation-card" style="background: rgba(132, 255, 61, 0.376);">
                <div class="navigation-card-icon" style="background: rgb(132, 255, 61);">
                    <i data-lucide="pickaxe"></i>
                </div>
                <div class="text-m bold-700 full">WindFarms</div>
            </div>
        </a>
        <a href="@Url.Action("Index", "Turbines")" class="box fit" style="min-width: 400px;">
            <div class="navigation-card" style="background: rgba(166, 98, 255, 0.376);">
                <div class="navigation-card-icon" style="background: rgba(166, 98, 255);">
                    <i data-lucide="pickaxe"></i>
                </div>
                <div class="text-m bold-700 full">Turbines</div>
            </div>
        </a>
    }
    <a href="@Url.Action("Index", "Jobs")" class="box fit" style="min-width: 400px;">
        <div class="navigation-card" style="background: rgba(255, 106, 188, 0.376);">
            <div class="navigation-card-icon" style="background: rgba(255, 106, 188);">
                <i data-lucide="pickaxe"></i>
            </div>
            <div class="text-m bold-700 full">Jobs</div>
        </div>
    </a>
    @if (Model.EmploymentRole == "Manager") {
        <a href="@Url.Action("Index", "Shifts")" class="box fit" style="min-width: 400px;">
            <div class="navigation-card" style="background: rgba(255, 94, 94, 0.376);">
                <div class="navigation-card-icon" style="background: rgba(255, 94, 94);">
                    <i data-lucide="pickaxe"></i>
                </div>
                <div class="text-m bold-700 full">Engineer Shifts</div>
            </div>
        </a>
    }
</div>



<div class="text-xxl full pd-1">Hello <i data-lucide="menu"></i></div>
<br>


<div class="box full dfb align-center gap-10">
    <div class="box fit dfb align-center gap-10">
        <div class="text-xxs visible-link">Dashboard</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap visible-link">Engineer</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap bold-600 accent-color">Dummy Engineer</div>
        <!-- <div class="text-xxs">/</div> -->
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <button class="xxs pd-12 pdx-2" onclick="showModal()">Click Me</button>
    <button class="xxs pd-12 pdx-2 delete" onclick="showFailedModal('Failed to create fault job.')">Click Me</button>
    <button class="xxs pd-12 pdx-2 outline-black">Click Me</button>
    <button class="xxs pd-12 pdx-2 secondary" onclick="showSuccessModal('Fault Job created !')">Click Me</button>
    <button class="xxs pd-12 pdx-2 logout">Click Me</button>
</div>

<br>

<div class="box full dfb column gap-10">
    <div class="box full pd-1 dfb">
        <input type="text" class="xxs pd-15 pdx-2 full mw-400" placeholder="First Name">
    </div>

    <div class="box full pd-1 dfb">
        <textarea name="description" id="description" class="xxs pd-15 pdx-2 full mw-400" placeholder="Description"></textarea>
    </div>
</div>

<div class="text-xxl full pd-1">Hello <i data-lucide="menu"></i></div>

<br>

<div class="box full dfb align-center gap-10">
    <div class="box fit dfb align-center gap-10">
        <div class="text-xxs visible-link">Dashboard</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap visible-link">Engineer</div>
        <div class="text-xxs">/</div>
    </div>
    <div class="box fit dfb align-center gap-10" key={index}>
        <div class="text-xxs whitespace-nowrap bold-600 accent-color">Dummy Engineer</div>
        <!-- <div class="text-xxs">/</div> -->
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
    <div class="card mw-400" style="padding: 15px;">
        <div class="text-m full">Wind Farm 1</div>
        <div class="text-xxs full">100HP</div>
    </div>
</div>

<br>

<div class="box full dfb gap-10 wrap">
    <button class="xxs pd-12 pdx-2" onclick="showModal()">Click Me</button>
    <button class="xxs pd-12 pdx-2 delete" onclick="showFailedModal('Failed to create fault job.')">Click Me</button>
    <button class="xxs pd-12 pdx-2 outline-black">Click Me</button>
    <button class="xxs pd-12 pdx-2 secondary" onclick="showSuccessModal('Fault Job created !')">Click Me</button>
    <button class="xxs pd-12 pdx-2 logout">Click Me</button>
</div>

<br>

<div class="box full dfb column gap-10">
    <div class="box full pd-1 dfb">
        <input type="text" class="xxs pd-15 pdx-2 full mw-400" placeholder="First Name">
    </div>

    <div class="box full pd-1 dfb">
        <textarea name="description" id="description" class="xxs pd-15 pdx-2 full mw-400" placeholder="Description"></textarea>
    </div>
</div>