@model ats_maintenance_tracker_group2.Models.WindFarm

@{
    ViewBag.Title = Model.FarmName + " Details";
}

<br />
<div class="text-xxxs grey-5">Wind Farm Details</div>

<div class="box full dfb column">
    <div class="text-xl full bold-600 pd-05">@Model.FarmName</div>
    <br />
    <div class="text-xxs full bold-600 pd-05 underline"><u>Wind Farm Address</u></div>
    <div class="text-xxs full pd-05">@Model.Address1</div>
    <div class="text-xxs full pd-05">@Model.Address2</div>
    <div class="text-xxs full pd-05">@Model.City</div>
    <br />
    <div class="text-xxs full pd-05">@Model.Postcode</div>
    <div class="text-xxs full pd-05">@Model.Region</div>
</div>
<div class="box full dfb align-center gap-10 mt-3">
    <a href="@Url.Action("Edit", "WindFarms", new { id = Model.FarmID })">
        <button class="xxxs pd-12 pdx-2 fit whitespace-nowrap">
            <i data-lucide="square-pen" style="height: 18px;"></i> Edit
        </button>
    </a>
    <a href="@Url.Action("Index", "WindFarms")">
        <button class="xxxs pd-12 pdx-2 fit outline-black whitespace-nowrap">
            Back To List
        </button>
    </a>
</div>
